{% extends "product/base.html" %}

{% load i18n %}

{% load static %}

{% block head_title %} {% trans "Home" %} {% endblock head_title %}<

{% block heading %} {% trans "Home" %}{% endblock heading %}

{% block pagecss %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock pagecss %}

 {% block breadcrums %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        
    </ol>
{% endblock breadcrums %}

{% block maincontent %}
<!-- Small Box (Stat card) -->
        <h2 class="mb-2 mt-4">Summary</h2>
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-gradient-info">
              <div class="inner">
                <h3>{{summary.tot_purchase}}</h3>

                <p>Total Product Purchase</p>
              </div>
              <div class="icon">
                <i class="fas fa-shopping-cart"></i>
              </div>
              <a href="{% url 'summ-report' %}" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-gradient-success">
              <div class="inner">
                <h3>{{summary.sale}}</h3>

                <p>Total Product Sale</p>
              </div>
              <div class="icon">
                <i class="fas fa-chart-line"></i>
              </div>
              <a href="{% url 'summ-report' %}" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-gradient-danger">
              <div class="inner">
                <h3>{{summary.lastmonth}}</h3>

                <p>Unstocked Products < [{{this_month}}]</p>
              </div>
              <div class="icon">
                <i class="fas fa-cubes"></i>
              </div>
              <a href="{% url 'summ-report' %}" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-gradient-warning">
              <div class="inner">
                <h3>{{summary.thismonth}}</h3>

                <p>Unstocked Products [{{this_month}}]</p>
              </div>
              <div class="icon">
                <i class="fas fa-chart-pie"></i>
              </div>
              <a href="{% url 'summ-report' %}" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-12">
            <!-- STACKED BAR CHART -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Purchase and Sale Trend (Monthly)</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>



{% endblock maincontent %}


{% block pagejs %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
    <script>
       $(document).ready(function () {

        $.ajax({
        url: '/api/product/chartjs/',
        success: function (data) {
            var areaChartData = {
              labels  : data.labels,
              datasets: [
                {
                  label               : 'Purchases',
                  backgroundColor     : 'rgba(60,141,188,0.9)',
                  borderColor         : 'rgba(60,141,188,0.8)',
                  pointRadius          : true,
                  pointColor          : '#3b8bba',
                  pointStrokeColor    : 'rgba(60,141,188,1)',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'rgba(60,141,188,1)',
                  data                : data.purchases
                },
                {
                  label               : 'Sales',
                  backgroundColor     : 'Lightblue',
                  borderColor         : 'Lightblue',
                  pointRadius         : true,
                  pointColor          : 'Lightblue',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : '#fff',
                  pointHighlightStroke: 'Lightblue',
                  data                : data.sale,
                  
                },
                {
                  label               : 'Average Sale',
                  backgroundColor     : 'Dark',
                  borderColor         : 'Dark',
                  pointRadius         : true,
                  pointColor          : 'Dark',
                  pointStrokeColor    : '#c1c7d1',
                  pointHighlightFill  : 'Dark',
                  pointHighlightStroke: 'Dark',
                  data                : data.average,
                  fill                : false,
                  type                : "line"
                  
                },
              ]
            
            }
            var barChartData = $.extend(true, {}, areaChartData)
            var temp0 = areaChartData.datasets[0]
            var temp1 = areaChartData.datasets[1]
            barChartData.datasets[0] = temp1
            barChartData.datasets[1] = temp0
            var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
            var stackedBarChartData = $.extend(true, {}, barChartData)

            var barChartOptions = {
              responsive              : true,
              maintainAspectRatio     : false,
              datasetFill             : false
            }

            new Chart(stackedBarChartCanvas, {
              type: 'bar',
              data: barChartData,
              options: barChartOptions
            })



        },
        });

         
        
      
            
      });
    </script>
{% endblock pagejs %}
